In [2]:
# Import all necessary packages.

import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sb_utils import save_file

In [3]:
# Import and display the explored housing prices data.
# Raw original data source: https://www.kaggle.com/datasets/fedesoriano/california-housing-prices-data-extra-features

house_data = pd.read_csv('house_data_explored.csv')
house_data

,Median_House_Value,Median_Income_adj,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast_adj,Distance_to_LA_adj,Distance_to_SanDiego_adj,Distance_to_SanJose_adj,Distance_to_SanFrancisco_adj
0,452600.0,83252.0,41.000000,880,129,322,126,37.88,-122.23,5.76,345.81,457.02,41.90,13.20
1,358500.0,83014.0,21.000000,7099,1106,2401,1138,37.86,-122.22,6.35,344.41,455.61,40.42,12.97
2,352100.0,72574.0,26.983847,1467,190,496,177,37.85,-122.24,5.13,344.62,455.79,40.31,11.69
3,341300.0,56431.0,26.983847,1274,235,558,219,37.85,-122.25,4.83,344.98,456.15,40.57,11.20
4,342200.0,38462.0,26.983847,1627,280,565,259,37.85,-122.25,4.83,344.98,456.15,40.57,11.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19670,78100.0,15603.0,25.000000,1665,374,845,330,39.48,-121.09,100.68,406.71,516.13,154.42,138.33
19671,77100.0,25568.0,18.000000,697,150,356,114,39.49,-121.21,99.70,409.95,519.62,153.39,135.65
19672,92300.0,17000.0,17.000000,2254,485,1007,433,39.43,-121.22,95.54,406.40,516.17,149.24,131.79
19673,84700.0,18672.0,18.000000,1860,409,741,349,39.43,-121.32,94.45,408.68,518.64,148.01,129.20
19674,89400.0,23886.0,16.000000,2785,616,1387,530,39.37,-121.24,91.26,403.10,512.99,144.96,127.68

__Key:__

 - Median house value: Median house value for households within a block
 - Median income (adj): Median income for households within a block of houses (in US dollars)
    - Originally in thousands of US dollars
 - Median age: Median age of a house within a block; a lower number is a newer building
 - Total rooms: Total number of rooms within a block
 - Total bedrooms: Total number of bedrooms within a block
 - Population: Total number of people residing within a block
 - Households: Total number of households, a group of people residing within a home unit, for a block
 - Latitude: A measure of how far north a house is; a higher value is farther north
 - Longitude: A measure of how far west a house is; a higher value is farther west
 - Distance to coast (adj): Distance to the nearest coast point (in miles)
    - Originally in meters
 - Distance to Los Angeles (adj): Distance to the centre of Los Angeles (in miles)
    - Originally in meters
 - Distance to San Diego (adj): Distance to the centre of San Diego (in miles)
    - Originally in meters
 - Distance to San Jose (adj): Distance to the centre of San Jose (in miles)
    - Originally in meters
 - Distance to San Francisco (adj): Distance to the centre of San Francisco (in miles)
    - Originally in meters

In [4]:
# Display summary data of the explored data.

house_data.shape

(19675, 14)

In [5]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19675 entries, 0 to 19674
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Median_House_Value            19675 non-null  float64
 1   Median_Income_adj             19675 non-null  float64
 2   Median_Age                    19675 non-null  float64
 3   Tot_Rooms                     19675 non-null  int64
 4   Tot_Bedrooms                  19675 non-null  int64
 5   Population                    19675 non-null  int64
 6   Households                    19675 non-null  int64
 7   Latitude                      19675 non-null  float64
 8   Longitude                     19675 non-null  float64
 9   Distance_to_coast_adj         19675 non-null  float64
 10  Distance_to_LA_adj            19675 non-null  float64
 11  Distance_to_SanDiego_adj      19675 non-null  float64
 12  Distance_to_SanJose_adj       19675 non-null  float64
 13  Distance_to_SanFrancisco_adj  19675 non-null  float64
dtypes: float64(10), int64(4)
memory usage: 2.1 MB

In [6]:
house_data.describe()

,Median_House_Value,Median_Income_adj,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast_adj,Distance_to_LA_adj,Distance_to_SanDiego_adj,Distance_to_SanJose_adj,Distance_to_SanFrancisco_adj
count,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.000000,19675.00000
mean,192477.921017,36749.901027,26.983847,2619.763659,539.653113,1440.812198,501.186023,35.651780,-119.563192,26.048491,168.915463,248.443383,217.319406,240.55352
std,97711.509613,15640.327384,11.106738,2181.348207,422.294861,1143.648725,383.264636,2.149802,2.006108,30.964588,154.107660,180.514495,134.703038,155.06982
min,14999.000000,4999.000000,1.000000,2.000000,2.000000,3.000000,2.000000,32.540000,-124.350000,0.070000,0.260000,0.300000,0.350000,0.28000
25%,116600.000000,25268.000000,18.000000,1438.000000,297.000000,796.000000,282.000000,33.930000,-121.760000,6.090000,20.535000,98.730000,73.115000,74.73500
50%,173800.000000,34500.000000,26.983847,2111.000000,436.000000,1179.000000,411.000000,34.270000,-118.500000,13.240000,110.110000,138.700000,284.590000,325.95000
75%,248200.000000,45813.000000,35.000000,3120.000000,648.000000,1746.000000,606.000000,37.730000,-117.990000,33.055000,328.765000,439.795000,321.805000,363.91500
max,500000.000000,131477.000000,51.000000,39320.000000,6445.000000,35682.000000,6082.000000,41.950000,-114.310000,207.420000,632.720000,743.730000,519.940000,561.49000

__Tasks to do for this step__:

   - Create dummy or indicator features for categorical variables
   - Standardize the magnitude of numeric features using a scaler
   - Split your data into testing and training datasets

__Create dummy or indicator features for categorical variables__: Since there are no categorical variables, no dummy or indicator features will be created.

__Standardize the magnitude of numeric features using a scaler__: According to their histograms (created in Step 2), none of the features appear to follow a normal distribution. We will therefore use the MinMaxScaler to scale the features.

In [7]:
# Apply scaler to the data.

from sklearn.preprocessing import MinMaxScaler

X = house_data.drop(columns = 'Median_House_Value')
y = house_data['Median_House_Value']

scaler = MinMaxScaler()
scaler.fit(X)
X_sc = scaler.transform(X)
X_sc

array([[0.61870839, 0.8       , 0.02233074, ..., 0.61434163, 0.0799669 ,
        0.02302169],
       [0.61682664, 0.4       , 0.18050257, ..., 0.61244502, 0.0771185 ,
        0.02261186],
       [0.53428264, 0.51967693, 0.03726029, ..., 0.61268714, 0.07690679,
        0.02033107],
       ...,
       [0.09488607, 0.32      , 0.05727657, ..., 0.69390528, 0.28655286,
        0.23433296],
       [0.10810576, 0.34      , 0.04725571, ..., 0.69722771, 0.28418561,
        0.22971793],
       [0.14933032, 0.3       , 0.07078183, ..., 0.68962781, 0.27831559,
        0.2270095 ]])

In [20]:
X_sc_df = pd.DataFrame(X_sc, columns = X.columns)
X_sc_df

,Median_Income_adj,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast_adj,Distance_to_LA_adj,Distance_to_SanDiego_adj,Distance_to_SanJose_adj,Distance_to_SanFrancisco_adj
0,0.618708,0.800000,0.022331,0.019711,0.008941,0.020395,0.567481,0.211155,0.027442,0.546359,0.614342,0.079967,0.023022
1,0.616827,0.400000,0.180503,0.171349,0.067210,0.186842,0.565356,0.212151,0.030287,0.544145,0.612445,0.077118,0.022612
2,0.534283,0.519677,0.037260,0.029179,0.013818,0.028783,0.564293,0.210159,0.024403,0.544477,0.612687,0.076907,0.020331
3,0.406648,0.519677,0.032352,0.036163,0.015555,0.035691,0.564293,0.209163,0.022956,0.545046,0.613171,0.077407,0.019458
4,0.264576,0.519677,0.041330,0.043148,0.015752,0.042270,0.564293,0.209163,0.022956,0.545046,0.613171,0.077407,0.019458
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19670,0.083841,0.480000,0.042296,0.057737,0.023599,0.053947,0.737513,0.324701,0.485218,0.642649,0.693851,0.296522,0.245986
19671,0.162629,0.340000,0.017676,0.022971,0.009894,0.018421,0.738576,0.312749,0.480492,0.647772,0.698546,0.294540,0.241211
19672,0.094886,0.320000,0.057277,0.074965,0.028140,0.070888,0.732200,0.311753,0.460429,0.642159,0.693905,0.286553,0.234333
19673,0.108106,0.340000,0.047256,0.063169,0.020684,0.057072,0.732200,0.301793,0.455172,0.645764,0.697228,0.284186,0.229718
19674,0.149330,0.300000,0.070782,0.095297,0.038790,0.086842,0.725824,0.309761,0.439788,0.636941,0.689628,0.278316,0.227009

__Split your data into testing and training datasets__: We will split the data 70/30 for train/test.

In [30]:
# Split data into testing and training sets.

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_sc_df, y, test_size = .3, random_state = 42)
X_train

,Median_Income_adj,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast_adj,Distance_to_LA_adj,Distance_to_SanDiego_adj,Distance_to_SanJose_adj,Distance_to_SanFrancisco_adj
3438,0.347800,0.240000,0.067704,0.080087,0.041061,0.085362,0.189160,0.585657,0.100989,0.035275,0.179909,0.544218,0.579302
18539,0.178861,0.640000,0.036396,0.045941,0.023011,0.049342,0.545165,0.335657,0.192332,0.463096,0.543656,0.105429,0.141409
16579,0.248446,0.500000,0.026858,0.035698,0.024889,0.039638,0.255048,0.388446,0.057921,0.220646,0.326984,0.353548,0.399886
14811,0.193472,0.060000,0.059515,0.092038,0.042462,0.089309,0.069075,0.706175,0.033856,0.129510,0.044348,0.745395,0.765560
4216,0.116755,0.540000,0.039676,0.100264,0.055243,0.097862,0.164718,0.603586,0.064046,0.005471,0.154460,0.580246,0.612658
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.094443,0.200000,0.023323,0.030576,0.001850,0.006743,0.812965,0.325697,0.715457,0.714069,0.753279,0.388152,0.323836
11964,0.186143,0.519677,0.020652,0.033214,0.009081,0.029441,0.639745,0.285857,0.162816,0.568415,0.632985,0.167825,0.133087
5390,0.081991,0.760000,0.043975,0.074965,0.059194,0.078289,0.130712,0.605578,0.003762,0.030516,0.130100,0.614388,0.644144
860,0.242849,0.080000,0.029198,0.047959,0.018078,0.039967,0.526036,0.241036,0.037039,0.497296,0.572441,0.020247,0.059603
15795,0.077911,0.880000,0.009360,0.012727,0.004597,0.011184,0.558980,0.312749,0.118592,0.485817,0.563093,0.094190,0.118369

In [31]:
y_train

3438     325200.0
18539    109100.0
16579    120600.0
14811    216100.0
4216     112500.0
           ...
11284    137500.0
11964    125000.0
5390     141300.0
860      300000.0
15795    101800.0
Name: Median_House_Value, Length: 13772, dtype: float64

In [22]:
X_train.shape

(13772, 13)

In [23]:
y_train.shape

(13772,)

In [24]:
X_test.shape

(5903, 13)

In [25]:
y_test.shape

(5903,)

In [26]:
# Save the preprocessed data as a new file.

save_file(house_data, 'house_data_preprocessed.csv', '../Capstone 2')

A file already exists with this name.

Writing file.  "../Capstone 2\house_data_preprocessed.csv"

In [29]:
save_file(X_train, 'house_data_preprocessed_X_train.csv', '../Capstone 2')
save_file(y_train, 'house_data_preprocessed_y_train.csv', '../Capstone 2')
save_file(X_test, 'house_data_preprocessed_X_test.csv', '../Capstone 2')
save_file(y_test, 'house_data_preprocessed_y_test.csv', '../Capstone 2')

Writing file.  "../Capstone 2\house_data_preprocessed_X_train.csv"
Writing file.  "../Capstone 2\house_data_preprocessed_y_train.csv"
Writing file.  "../Capstone 2\house_data_preprocessed_X_test.csv"
Writing file.  "../Capstone 2\house_data_preprocessed_y_test.csv"